body {
    margin: 50px;
    background: #fff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
canvas {
    background: #000;
}
.stack {
    position: relative;
}
.stack canvas {
    position: absolute;
}

.anim-control {
    padding: 10px;
}