body {
    margin: 50px;
    background: #fff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    background: transparent;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

pre {
    font-size: 16px;
}

.anim-control {
    padding: 10px;
}